mixin nav
  nav.menu
    a.active(href='#') Home
    a(href='#')  About
    a(href='#')  Productivity
    a(href='#')  Price
    a(href='#')  Faq
    a(href='#')  Contact

mixin info-block-item(title, text)
  .info-block-item
    .title= title
    .text= text 

mixin price-list-item(title, price, text)
  .price-list-item
    .title= title
    .price
      span.value= price 
      span.pic pic
    .text= text
    .btn Odred Now


doctype html
html
  head
    title Ducks
    link(rel="stylesheet" href="css/styles.css")
  body
  .container
    header
      .topline
        .logo
        +nav
      .banner
        h1 We Bring Emotion To Your Product
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .btn Ordered Now
    section.product
      .product-header-bg
      .info-blocks-wrapper
        +info-block-item('Crested', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis nulla non erat ultricies suscipit. Nulla velit diam, condimentum id condimentum rutrum, suscipit quis mauris. Nam a porta turpis, non.')
        +info-block-item('Muscovy', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis nulla non erat ultricies suscipit. Nulla velit diam, condimentum id condimentum rutrum, suscipit quis mauris. Nam a porta turpis, non.')
        +info-block-item('Orpington', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis nulla non erat ultricies suscipit. Nulla velit diam, condimentum id condimentum rutrum, suscipit quis mauris. Nam a porta turpis, non.')
        +info-block-item('Rouen', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis nulla non erat ultricies suscipit. Nulla velit diam, condimentum id condimentum rutrum, suscipit quis mauris. Nam a porta turpis, non.')
    section.subscribe
      .subscribe-header Subscribe
      .subscribe-text Join us for all the latest Petfinder news and updates.
      .subscribe-input 
        input(type="text" placeholder="Enter your email Address")
        .subscribe-btn
    section.price-list
      +price-list-item('Crested', '$08/', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it')
      +price-list-item('Rouen', '$08/', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it')
      +price-list-item('Muscovy', '$08/', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it')
    footer
      .all-rights All Right Resurved By @DuckSpace
      +nav




